ul {
  list-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
}

li {
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.1);
}

li:hover {
  background-color: #fff;
}
